{% extends 'base.html' %}
  {% block title %}
    tf idf
  {% endblock title %}
  {% block content %}
    <main>
      <div class="container py-5">
        <div class="mb-5">  
          <h1>tf idf для файла {{ filename }} </h1>
          <h3>Всего документов: {{ docs_amount }} </h3>
        </div>
        {% if word_frequency_page %}
            <ul>
            {% for word, frequency in word_frequency_page %}
                <li>{{ word }}: {{ frequency }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Нет данных о частоте слов</p>
        {% endif %}

      </div>
    </main>
  {% endblock %}