<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href={% static "css/analyzerstyles.css" %}>
    <title>
      {% block title %}
        Analyzer
      {% endblock title %}
    </title>
  </head>
  <body>
    <header>
      {% include 'includes/header.html' %}      
    </header>
    {% block content %}
    {% endblock content %}
    <footer class="border-top text-center py-3">
      {% include 'includes/footer.html' %}   
    </footer>   
  </body>
