{% extends 'base.html' %}
{% load static %}
{% load user_filters %}

  {% block title %}
  {% endblock title %}
  {% block content %}
    <main>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {% for field in form %}
                    <label for="{{ field.id_for_label }}">
                      {{ field.label }}
                      {% if field.field.required %}
                        <span class="required text-danger">*</span>
                      {% endif %}
                    </label>    
                    {{ field|addclass:'form-control' }}
                    {% if field.help_text %}
                      <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                        {{ field.help_text|safe }}
                      </small>
                    {% endif %}
              {% endfor %}
            </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  {% endblock %}

